{erl_first_files, ["src/gen_nb_server.erl", "src/gen_server2.erl"]}.
{cover_enabled, true}.
{erl_opts, [{parse_transform, lager_transform}]}.
{edoc_opts, [{preprocess, true}]}.
{erl_opts, [debug_info, warnings_as_errors]}.

{deps, [
        {riak_core, ".*", {git, "git://github.com/basho/riak_core", {branch, "master"}}}
       ]
}.
